In [16]:
import pandas as pd

In [17]:
sub = pd.read_csv('151_90043_feature_extraction2_scaled_tuned_depth13.csv')
sub

        id  prediction
0        0    0.000000
1        1    0.000000
2        2    0.000000
3        3   43.343033
4        4  354.302228
...    ...         ...
2155  2155   42.292915
2156  2156   14.589647
2157  2157    6.739129
2158  2158    2.717731
2159  2159    0.000000

[2160 rows x 2 columns]

In [18]:
xgb = pd.read_csv('152_029_xgboost.csv')

In [19]:
sub['xgb'] = xgb['prediction']
sub

        id  prediction         xgb
0        0    0.000000    0.000000
1        1    0.000000    0.000000
2        2    0.000000    0.000000
3        3   43.343033   51.541299
4        4  354.302228  315.967858
...    ...         ...         ...
2155  2155   42.292915   50.379371
2156  2156   14.589647   28.991108
2157  2157    6.739129    0.000000
2158  2158    2.717731    0.000000
2159  2159    0.000000    0.000000

[2160 rows x 3 columns]

In [20]:
sub['prediction'] = sub.apply(lambda x: 0 if x['xgb'] == 0 else x['prediction'], axis=1)
sub

        id  prediction         xgb
0        0    0.000000    0.000000
1        1    0.000000    0.000000
2        2    0.000000    0.000000
3        3   43.343033   51.541299
4        4  354.302228  315.967858
...    ...         ...         ...
2155  2155   42.292915   50.379371
2156  2156   14.589647   28.991108
2157  2157    0.000000    0.000000
2158  2158    0.000000    0.000000
2159  2159    0.000000    0.000000

[2160 rows x 3 columns]

In [21]:
pd.set_option('display.max_rows', 500)

In [22]:

sub['prediction'] = sub['prediction'] * 1.04

In [23]:
sub['prediction'].to_csv('catboost_multiplied.csv', index=True)